.pagina_sabermais{
    background-color: #333333;
    height: auto;
    }

.titulo_sabermais{
color: #AEA26A;
text-align: left;
padding: 30px;
font-family: 'Oswald', sans-serif;
font-size: 50px;
}

.subtitulos_sabermais{
    color: #AEA26A;
    text-align: left;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
}

.subtitulos_2_sabermais{
    color: #AEA26A;
    text-align: left;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.paragrafo_sabermais{
    padding: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}




